Resources:
    sslSecurityGroupIngress:
        Type: AWS::EC2::SecurityGroupIngress
        Properties:
            GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
            IpProtocol: tcp
            ToPort: 443
            FromPort: 443
            CidrIp: 0.0.0.0/0

files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDyjCCArICCQCxlnUKjApaKTANBgkqhkiG9w0BAQUFADCBpjELMAkGA1UEBhMC
      RVMxDzANBgNVBAgTBk1hZHJpZDESMBAGA1UEBxMJTGFzIFJvemFzMRAwDgYDVQQK
      EwdEaWRla2luMTwwOgYDVQQDEzNqY2EtamV0dHktamFyLWVudi5ldS1jZW50cmFs
      LTEuZWxhc3RpY2JlYW5zdGFsay5jb20xIjAgBgkqhkiG9w0BCQEWE2NvbnRhY3Rv
      QGRpZGVraW4uZXMwHhcNMTYwNDI2MTUwNTQ1WhcNMTcwNDI2MTUwNTQ1WjCBpjEL
      MAkGA1UEBhMCRVMxDzANBgNVBAgTBk1hZHJpZDESMBAGA1UEBxMJTGFzIFJvemFz
      MRAwDgYDVQQKEwdEaWRla2luMTwwOgYDVQQDEzNqY2EtamV0dHktamFyLWVudi5l
      dS1jZW50cmFsLTEuZWxhc3RpY2JlYW5zdGFsay5jb20xIjAgBgkqhkiG9w0BCQEW
      E2NvbnRhY3RvQGRpZGVraW4uZXMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEK
      AoIBAQDSTvAyRUmKo3uyjV/MlJQugVLn85H7DriEO0Kao798kZ6iC1uTjPvb0q32
      /tgjfhopcIvkmXB/7gDODuwxBg5D+9CB2XxjxJ+0BXVsCLBfk+O9qU1c8PsHAvI0
      EbtiUqMrLON7hmmpg4lWMI3i+MegL1e8JEcn+128MZsOYunj77dcmFK7WeTYKkos
      RbwBys87XifQuTI1KAsyyWybsekHEnkqigcpcBUDIAIrFRQQpqZknSEqQdp/7SHx
      jBkH5JPerk/NCO6JAWQR0JysUz56XULPE7b3OJBWGP5HYSuPf4/m5ErqqzgguxzW
      6iA6Kfe4JtufQth8dlHhRTY6xe49AgMBAAEwDQYJKoZIhvcNAQEFBQADggEBACc9
      UmzzNNpLyCyZFO0ZyHOiafbvMw1VaY1AbG+xjntQtE6Mt/xNGqbzfL7TNknX76Kt
      G1A8HZ6xFpo67DLRM3fXb7eAw6JLgZ3PXLuQRp+5DyoKSDzStvTGFvM2vnlm32wR
      ALXi7EivgmKi6joqiPtqENO27EyWha/tAUHq9rBuFqGujGKa1tRB/TkRUjG0ig7N
      1Y6Wlm9SOzdVjEvgtvdUNIaPPz5YzbXyBK8w6dr86gbuu0hUqe+jd1aOt/2EDMsg
      d5Ki89PakS3Jk8USdqCyBv8NR6wa/+zSQoK2tgaK6/BI4W/tPSeZrTg/e8deZ5zz
      054i4sICwA+/o6Ueop4=
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA0k7wMkVJiqN7so1fzJSULoFS5/OR+w64hDtCmqO/fJGeogtb
      k4z729Kt9v7YI34aKXCL5Jlwf+4Azg7sMQYOQ/vQgdl8Y8SftAV1bAiwX5PjvalN
      XPD7BwLyNBG7YlKjKyzje4ZpqYOJVjCN4vjHoC9XvCRHJ/tdvDGbDmLp4++3XJhS
      u1nk2CpKLEW8AcrPO14n0LkyNSgLMslsm7HpBxJ5KooHKXAVAyACKxUUEKamZJ0h
      KkHaf+0h8YwZB+ST3q5PzQjuiQFkEdCcrFM+el1CzxO29ziQVhj+R2Erj3+P5uRK
      6qs4ILsc1uogOin3uCbbn0LYfHZR4UU2OsXuPQIDAQABAoIBAAGqXF6Zi96MMuOU
      GQkeuBmyLnzlwecyE6YAbiOZXl/XK2FvI5eEi04PWg9Vr1KAoiZn3MO/r1NkCB+Z
      oKc2vBAvw1Pz6/dCTF15mZd0bikjm68Z0yIESoigrlhZN5msu9wQq/CDfPy5rPHA
      yq7cd4A+P7yesO2RIQnnfqnbgKysap9HdbGnxxlWU6IYk+HDWsgjyJG7fOn4DUGx
      oGmtCzuL7wQXthFmneSFFcz1qs0IhbSm/vHeAt4dXetmwFnJQwnuvotcJWKEBcL+
      iRTLR/3QD6y5XFDuV9gUJCYkA03y4Y7OaVnQ2OV95FDeDkvKlv1YWCiEQKrEsdVd
      nlxZsWECgYEA/xWolCw9RZATAmf2I+JtKefTiZ1F8pOMfh6yeLYPTYQBuaK871o7
      UaRlzave8MAZGIcAZ9PvICET8zYhYZkMDL52OLltfGLw0fUIWmFjArx6iSjiGCzQ
      X2APEyJx7ZNvKI4yRqcT2tOb7WtP0nkErcOvGjWrlVyk/7HvYZgOJ1UCgYEA0xAl
      B4ERZgHWramSMdmzNCB1Dub3nZ4r9sLCjaTLGX6LSp2jlIxHXLSQnQuPCsyxsMz9
      G5AOS9GpUd4bbK+nSd28inJ3EiFsrD8p4u6FTXPfCC7O8v5d8Z3AzecymUGFjH6w
      89/bFR5d7HTKj+0aDVEJBJBa/o0kYm6+Cui720kCgYEAoOGSH1H/mv4RXzUegudu
      Hj3+pw6wbRwuQeUufv+kiyk0xVYkf3mTbByZsKwzwfgGW/fZg6KhcMwr/vsm9p1G
      gksl2QTqTsdAR8uZZxeBENq7FgLZBpJNIbo+B71zyXlxZEy63ODHnv5Tm9xQzdhR
      4R5IM+mhvGRgFHyvFAiI9LkCgYEAidqwpN8bMwoeYp0v3Jl5X6GXc11N+8fUpT59
      /i/Va9hoOBsQPbUF4zoYfkqPahlaMcUhyD/l5oWRVuR/+xQbaraGL9MljFUCetpi
      jFMIBBebY+fWyYV0bJyB0rqgJNNT2/jfsNnUaU3FQOzjZPATJQF5p1514G7lhdkZ
      DV0HXekCgYA+nK9WDDtzHSY5SJChTSYRafYsgeofnU87+vqRHKwRUZ3ZSUbeUN28
      JD5Q0PE5DhmobrMpIw+USi5WqOH+P3VfMjq1O17JJs99ltR6M6VJvqhrxCpT1Uzw
      e6GyJKDDhHzhTM7DjdIZLgAJsAz7EIS1tZEEC4Qdy7G6nFN4zClOZg==
      -----END RSA PRIVATE KEY-----
container_commands:
  01restart_nginx:
    command: "service nginx restart"