Resources:
    sslSecurityGroupIngress:
        Type: AWS::EC2::SecurityGroupIngress
        Properties:
            GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
            IpProtocol: tcp
            ToPort: 443
            FromPort: 443
            CidrIp: 0.0.0.0/0

files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDdDCCAlwCCQCz4LoWBqYYqzANBgkqhkiG9w0BAQUFADB8MQswCQYDVQQGEwJF
      UzEPMA0GA1UECBMGTWFkcmlkMRIwEAYDVQQHEwlMYXMgUm96YXMxEDAOBgNVBAoT
      B0RpZGVraW4xEjAQBgNVBAMTCWxvY2FsaG9zdDEiMCAGCSqGSIb3DQEJARYTY29u
      dGFjdG9AZGlkZWtpbi5lczAeFw0xNjA0MjUxMTQ0MTRaFw0xNzA0MjUxMTQ0MTRa
      MHwxCzAJBgNVBAYTAkVTMQ8wDQYDVQQIEwZNYWRyaWQxEjAQBgNVBAcTCUxhcyBS
      b3phczEQMA4GA1UEChMHRGlkZWtpbjESMBAGA1UEAxMJbG9jYWxob3N0MSIwIAYJ
      KoZIhvcNAQkBFhNjb250YWN0b0BkaWRla2luLmVzMIIBIjANBgkqhkiG9w0BAQEF
      AAOCAQ8AMIIBCgKCAQEAviXbdwXIJQiG8o9JaBlmjCDHbrZ6Q2Fn64R+yf2J9+L/
      3Pyy2WZWwNp/4l+xaAXIMcJ4DWPOGS5XM2IX9BjmnEN3elpSaaUw2T7TITx3tbFc
      gG4ZAhSay/GT3IOw2RYhM4s6fGFS3IC/lzdJwJWy3KeydCZcQeUCmZflzWMXi9wm
      ZYTFjeH+Va0XeKmPePYwEz703pFTxl58m7vvh5MXWVh0h9f6drlGrifCL2Fxy+1T
      r0xkm+42QQ8EhMZOr2RamTfj4QR3kkWej+L7IsMIlkXA6UIxfjlmyzBn/32vyJWV
      tKfmECWymYetydWwm/P6vsFeBtSiT2yrUh4MNHuL8wIDAQABMA0GCSqGSIb3DQEB
      BQUAA4IBAQA2yHM7VCRihfxjKG0nUwMGef3eQrJJNxHOlk0SvBXa6VZ1OcVgp9Zr
      1Hor0SYs1dTXhESiCpOs21wCegpbI2IU11B+BLE8lJVM9MrdMn5E7J7qao+3289Y
      nXct324KUeSMQlRFl+85GW4Q6s8pG/Mb0R4RqmTdDnp9RR+aja8Nkbu48KDn/EzA
      oNcuu+Ajf6kMw8eVIJ7sB6sgL/i71fymuoPwA9O08zospL8uRJlioGIy6NeTFqN9
      XHI/e7MbNLCxQInpkWwL2eSxL5fNXVsNexekD28M+edlpGdl4CrsgqTbzQldJPLO
      s12dHymfWp9uQHLnoqkWQW5GYnxUR1lH
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAviXbdwXIJQiG8o9JaBlmjCDHbrZ6Q2Fn64R+yf2J9+L/3Pyy
      2WZWwNp/4l+xaAXIMcJ4DWPOGS5XM2IX9BjmnEN3elpSaaUw2T7TITx3tbFcgG4Z
      AhSay/GT3IOw2RYhM4s6fGFS3IC/lzdJwJWy3KeydCZcQeUCmZflzWMXi9wmZYTF
      jeH+Va0XeKmPePYwEz703pFTxl58m7vvh5MXWVh0h9f6drlGrifCL2Fxy+1Tr0xk
      m+42QQ8EhMZOr2RamTfj4QR3kkWej+L7IsMIlkXA6UIxfjlmyzBn/32vyJWVtKfm
      ECWymYetydWwm/P6vsFeBtSiT2yrUh4MNHuL8wIDAQABAoIBAGReFT75JVEu9BRa
      v9Ob/L4gm0R8O4MPikwN7uLt2oKnJoleNYV9eHNpojE6c6lFzAs/7CCdOu+dv1eX
      Aq/M6QU4s3s46+Fp2aQCfm0/vqyARyRfeQHZIHBgPr0aIiIkhTfw2NlIgfV0XC0U
      ePCX1AaW2iJnETGTEVFDlYBZOteOXZPc+NaVJOLH4fEI/9MsflnErPflyW+gstEU
      lEp3I9ZZY2RU3G6SQbn3YoDGhXgiPPykTXp+dtxAX95ScOJjaQDfqBcOcvcQk0R7
      fjDoY4wrx85m/vWhyqeKkBr1T8DrpIwF5TRsKZYjUGOOAKEvywQwbyz/kClADIB1
      JJKao1ECgYEA99IScyKKhWUK0EavGTLpo0menGdVaOWD25HkwH2rb8kD3mIP4hZB
      DEkc72YsqTqNMVOHFgnf99Po1momy1KG2e5zakgJkgwt2YjaOO7X/vrT3KqvM5ws
      hM6LcjtxtCIWENsFDqNCUe24C8VQVAO50OnM0GMhdDUDeWVA9P8dclsCgYEAxGx8
      sw5mo8BiqNBRBltjpejqMCjFIdSIDYHCmcQd0qM25A95oZNyC+8HOS0Heg2EtpSv
      Qqo19Xfv5c/zjMUVAnluknUbS4xqiFghASl1Bz/v7zIRrtINeQDRCgB7eKXYDZxl
      HvgwguU+8ADgiFRJ+BJ0yJ/WwJoJICkid/hE0EkCgYBNXvPNqHIQ9ZvrrLXMKz4Q
      cdKoSAa9ajLBoYoGovWcP+kKTBljX8lNOaJkB8VXzGT6inZ5Zfnb2PgvwRJ9ljVt
      4ul7vCPoyg6ihPyEm+UpwUvV8CAk/9RSXl3g+zgjoiS7fHXWvRfellZIroDGyicA
      V45PXTO7oTWFeBxQoTmjUwKBgQCtL9pjJfdpul9C6SoHqNyblFmoTMpDodiz0A18
      9mY1KqNjQiHETPTpgL+lsgY9n128fixpYxpgbHeg8VGUdNCpddgAWjDO0+e6f7na
      BGujEMTE6iidM6edYRLu9q3nGpL8rUCbpclgIDD1/E/85BS0HdHKcuQuvaH+MUaq
      8MP7wQKBgG7FaMyjcjTyBb+oqBn0BccTyiXH4FlIE5yWfM2McjYBihS7t7wa4Bo/
      KNxoA8gKOAB5NnpaULwPxL7KVBobphjONGcRWZiHSvtI0yeex/hz2jiuaVEPAm+u
      KLbUxAqI2lgVfWG6OZOC493Eazlt0UsalW4GgZtk1bwNUO75kMq5
      -----END RSA PRIVATE KEY-----
container_commands:
  01restart_nginx:
    command: "service nginx restart"